body {
    color: #32325f;
}

img {
    max-width: 100%;
}

.subtitle {
    font-size: 20px;
    font-weight: 400;
}

.title {
    font-size: 48px;
    font-weight: 700;
}

.price {
    font-size: 48px;
    font-weight: 400;
}

.main {
    margin-top: 100px;
}

.hero {
    background-color: #f4f5f7;
    padding-top: 70px;
    padding-bottom: 190px;
}

.section {
    padding-bottom: 100px;
    padding-top: 100px;
}

.about-block {
    margin-top: 100px;
}

.people {
    background-color: #F4F5F7;
    padding-top: 94px;
}

.people-block img {
    margin-bottom: 36px;
    height: 254px;
    width: 362px;
}

.people-block {
    margin-top: 64px;
}

.footer {
    background-color: #32325F;
    color: #FFFFFF;
}

.footer a {
    text-decoration: none;
    color: #FFFFFF;
}

.footer h4 {
    margin-bottom: 40px;
}